.pages-auth {
    .row-login {
        min-height: 70vh;

        img{
            border-radius: 12px;
        }
    }

    .section-store-auth {
        h2 {
            font-weight: 200;
            font-size: 28px;
            margin-top: 0;
            color: #0c0d36;
        }

        .form-control {
            border-radius: 8px;
            background: #f3f3f3;
        }

    }
}