.pages-details {
  .store-gallery {
    margin-top: 20px;
    margin-bottom: 20px;

    img {
      border-radius: 12px;
    }

    .thumbnail-image {
      margin-bottom: 20px;
      border: 2px solid transparent;

      &:hover,
      &:active {
        border: 2px solid #ff7518;
      }
    }
  }

  .store-heading {
    margin-bottom: 10px;

    h1 {
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      color: #0c0d36;
    }

    .price {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #ff7518;
      margin-bottom: 10px;
    }
    
    .btn-dropdown {
      background-color: #ff7518;
    }
  }

  .store-description {
    font-weight: normal;
    font-size: 16px;
    color: #525252;

    .btn-shopee {
      background-color: #ff7518;

      &:hover {
        background-color: #be5a16;
      }
    }
  }

  .text-shopee {
    color: #ff7518;

    &:hover {
      text-decoration: none;
      color: #be5a16;
    }
  }

  .text-success {
    &:hover {
      text-decoration: none;
      color: #1ac54d;
    }
  }
}
