.pages-home {
    h5 {
        font-weight: 300;
        margin-bottom: 15px;
    }

    .icon-item {
        color: orange;
        font-size: 200;
    }

    .store-trend-categories {
        margin-top: 30px;
    }

    .store-new-product {
        margin-top: 30px;
    }

    .store-why {
        margin-top: 30px;
    }

    .btn-carousel {
        background-color: orange;
    }
}