.store-breadcrumb {text-decoration: none;
    .breadcrumb {
        background: transparent;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .breadcrumb-item + .breadcrumb-item::before {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .breadcrumb-item.active {
        font-weight: 300;
        color: #0c0d36;
    }

    a {
        color: #979797;
        text-decoration: none;
    }
}