.store-category {
  margin-bottom: 20px;

  &:hover {
    text-decoration: none;
  }

  .categories-thumbnail {
    width: 100%;
    height: 550px;
    border-radius: 8px;

    overflow: hidden;
    position: relative;
    z-index: 1;

    &:hover,
    &:focus {
      .categories-image {
        transform: scale(1.1);
      }
    }

    .categories-image {
      width: 100%;
      height: 100%;

      background-color: #ddd;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      transition: all 0.3s ease;
    }
  }
}
